html
  head
    title Node App
    meta(name='description', content='A simple thing made with Express')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
  body
    .main
      .main-heading
        .main-heading-primary our chat
        .main-heading-secondary
          button#login log in
          button#register register
      
      .loginForm
        hr
        form(action='/login', method='post')
          div
            label username:
            input(type='text', name='username')
          div
            label password:
            input(type='password', name='password')
          div
            button(type='submit', value='Log In') log in
        .login.center
          a(href='/auth/github') login with github

    
      .registration
        hr
        form(action='/register', method='post')
          div
            label username:
            input(type='text', name='username')
          div
            label password:
            input(type='password', name='password')
          div
            button(type='submit', value='Register') register
      
        
    script(src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
    script(src='/public/client.js')
