body {
  background: #eeeeee;
}

.login-center {
  margin: 1.5vw;
  padding-top: 2vw;
}

.main {
  position: absolute;
  top: 30vh;
  left: 35vw; 
  transform: translate(-20%, -20%); 
}

.main-heading-primary, h1 {
  color: #777777;
  text-transform: uppercase;
  display: block;
  font-size: 5.0rem;
  font-weight: 400;
  letter-spacing: 2.8vw;
  animation: moveInLeft 1s ease-out;
  margin-left: 1vw;
}

.main-heading-secondary {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  animation: moveInRight 1s ease-out;
  margin-left: -2vw;
}

#login, #register {
  background-color: white;
  letter-spacing: 26px;
  color: #ff66b3;
  font-family: sans-serif;
  margin: 1vw;
  font-size: 25px;
  padding-left: 1.5vw;
  font-weight: normal;
}

button {
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 7px;
  font-size: 25px;
  letter-spacing: 15px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  margin-left: -0.5vw;
}

button:hover {
  color: #777777;
  font-weight: normal;
}

hr {
  margin: 2vh 0 3vh 0;
}

.loginForm, .registration {
  display: none;
  text-transform: uppercase; 
}

input {
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 7px;
  padding-left: 1.5vw;
  margin: 1vw 1vw 1vw 0;
  font-size: 20px;
  letter-spacing: 20px;
  color: #ff66b3;
  font-family: sans-serif;
  width: 100%;
}

label {
  margin-top: 2vw;
  font-size: 20px;
  letter-spacing: 20px;
  color: #777777;
}

a {
  color: #ff66b3;
  text-decoration: none;
  font-size: 20px;
  text-transform: none;
  font-family: sans-serif;
  letter-spacing: 15px;
}

.chat.center {
  margin: 5vw;
}

.chat-box {
  background-color: rgb(230, 230, 230, 0.6);
  border-radius: 1vw;
  padding: 2vw;
  margin: 2vw 0 2vw 0;
  animation: moveInLeft 1s ease-out;
}

#num-users {
  letter-spacing: 20px;
  color: #ff66b3;
  font-family: sans-serif;
  margin: 1vw;
  font-size: 20px;
}

#messages, #info {
  color: #777777;
  text-transform: uppercase;
  display: block;
  font-size: 0.85rem;
  font-weight: 100;
  letter-spacing: 0.3vw;
}

h1{
  font-size: 4.0rem;
}

#m {
  letter-spacing: 12px;
}

#logout {
  margin-left: 1vw;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-110px);
  }
  
  80% {
    transform: translateX(10px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(110px);
  }
  
  80% {
    transform: translateX(-10px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
}